# This is a basic workflow that is manually triggered

name: generic antics

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      anticslink:
        description: 'Antics File Link: '
        default: ''
        required: true
      filename:
        description: 'Filename for generated rar: '
        default: ''
        required: false
      mysteriousbashscripturl:
        description: 'URL of the mysterious bash script that would apply for every rar archive made in the process: '
        default: ''
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ruantics:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout Codes
      uses: actions/checkout@v2

    - name: Pre-processing
      run: |
        sudo rm -rf /usr/local/lib/android # will release about 10 GB if you don't need Android
        sudo rm -rf /usr/share/dotnet # will release about 20GB if you don't need .NET
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        df -lh
        wget "https://github.com/P3TERX/Aria2-Pro-Core/releases/download/1.36.0_2021.08.22/aria2-1.36.0-static-linux-amd64.tar.gz"
        tar -xvzf aria2-1.36.0-static-linux-amd64.tar.gz
        chmod +x aria2c
        wget "https://www.rarlab.com/rar/rarlinux-x64-6.0.2.tar.gz"
        tar -xvzf rarlinux-x64-6.0.2.tar.gz
        chmod +x rar/rar
        aria2c "${{ github.event.inputs.mysteriousbashscripturl }}" --out "mysteriousbashscript.sh" > /dev/null 2> /dev/null

    - name: Download Antics and Reuploading
      continue-on-error: true
      run: |
        echo "rar/rar a -ep1 -htb -m0 -ma5 -rr5 -ts -tsp -ol \"$3.rar\" \"$3\"; bash mysteriousbashscript.sh \"$3.rar\";" > wiebitte.sh
        ls -lh
        ./aria2c --seed-time=0 --follow-torrent=mem --on-download-complete='bash wiebitte.sh' "${{ github.event.inputs.anticslink }}"
        
