# This is a basic workflow that is manually triggered

name: generic antics

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      anticslink:
        description: 'Antics File Link: '
        default: ''
        required: true
      rarfilename:
        description: 'Filename for generated rar: '
        default: ''
        required: false
      mysteriousbashscripturl:
        description: 'URL of the mysterious bash script that would apply for every rar archive made in the process: '
        default: ''
        required: true
      spaceclear:
        description: 'clear space? '
        default: ''
        required: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ruantics:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout Codes
      uses: actions/checkout@v2

    - name: Pre-processing
      run: |
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf /usr/local/lib/android # will release about 10 GB if you don't need Android
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf /usr/share/dotnet # will release about 20GB if you don't need .NET
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf /opt/ghc
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/share/boost"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/.ghcup"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/lib/node_modules"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/lib/heroku"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/graalvm"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/share/chromium"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/share/powershell"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/julia1.7.2"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/local/aws"*
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/jvm"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/x86_64-linux-gnu"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/google-cloud-sdk"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/llvm"*
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/gcc"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/firefox"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/lib/mono"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/share/swift"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/share/miniconda"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/usr/share/az_7.1.0"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/opt/az"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/opt/pipx"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/opt/hhvm"
        [ "${{ github.event.inputs.spaceclear }}" ] && sudo rm -rf "/opt/google"
        sudo apt-get install ncdu -y
        ncdu / -o barbruh.wiebitte
        df -lh
        wget "https://github.com/P3TERX/Aria2-Pro-Core/releases/download/1.36.0_2021.08.22/aria2-1.36.0-static-linux-amd64.tar.gz"
        tar -xvzf aria2-1.36.0-static-linux-amd64.tar.gz
        chmod +x aria2c
        wget "https://www.rarlab.com/rar/rarlinux-x64-6.0.2.tar.gz"
        tar -xvzf rarlinux-x64-6.0.2.tar.gz
        chmod +x rar/rar
        aria2c "${{ github.event.inputs.mysteriousbashscripturl }}" --out "mysteriousbashscript.sh" > /dev/null 2> /dev/null
        rar/rar a -df -ep1 -htb -m5 -ma5 -rr5 -ts -tsp -ol "barbruh.wiebitte.rar" "barbruh.wiebitte"
        bash mysteriousbashscript.sh "barbruh.wiebitte.rar"

    - name: Download Antics and Reuploading
      continue-on-error: true
      run: |
        echo 'echo "$3" > wiebitte.txt' > wiebitte.sh
        chmod +x wiebitte.sh
        cat wiebitte.sh
        ls -lh
        ./aria2c --seed-time=0 --follow-torrent=mem --on-bt-download-complete='./wiebitte.sh' "${{ github.event.inputs.anticslink }}"
        downloadedpath=`cat wiebitte.txt`
        [ "${{ github.event.inputs.rarfilename }}" ] && filename="${{ github.event.inputs.rarfilename }}" || filename="downloadedpath.rar"
        rar/rar a -df -ep1 -htb -m0 -ma5 -rr5 -ts -tsp -ol "$filename" "$downloadedpath"
        bash mysteriousbashscript.sh "$filename"
        
